* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0px 144px 76px;
}

.link-header {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
 }

 .botton-header {
    width: 130px;
    height: 41px;
    border-radius: 20.5px;
    background: #665AE1;
    border: none;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer; 
 }

 .logo-img {
    width: 568px;
    height: 500px;
    display: inline-block;
    margin-left: 125px;
 }

 section {
    display: inline-block;
    margin-left: 86px;
 }

 h1 {
    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
    color: #515151;
 }

 h2 {
    font-size: 58px;
    font-weight: 500;
    line-height: 71px;
    color: #515151;
 }

 p {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
    text-align: justify;
    color: #848484;
 }

 .botton-main {
    width: 239px;
    height: 64px;
    border-radius: 30px;
    background: #ADFF00;
    font-size: 28px;
    font-weight: 700;
    color: #000000;
    border: none;
    filter: drop-shadow(0px 4px 4px #000025);
    cursor: pointer;
 }

 @media screen and (max-width: 900px) {
   header {
      display: none;
   }

   p {
      display: none;
   }

   section {
      display: block;
   }

   main {
      display: block;
   }
 
   .logo-img {
      width: 354px;
      height: 317px;
      display: block;
      margin: 5% auto;
   }

   section {
      display: block;
      width: auto;
      margin: auto;
      text-align: center;
   }

   .botton-main {
      margin-top: 17px;
      width: 212px;
      height: 46px;
      font-size: 20px;
   }

   h1 {
      font-size: 40px;
      line-height: 37px;
   }

   h2 {
      font-size: 41px;
   }

 }